body {
    padding: 40px;
}

body,
h1,
h2,
h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
th,
h2,
footer p {
    color: #53BD9D;
}

.btn-default {
    border-color: #53BD9D;
    color: #53BD9D;
}

.btn-default:hover {
    background-color: #53BD9D;
}

.divider {
    width: 500px;
}

.header {
    text-align: center;
    color: #53BD9D;
}

.intro-header {
    background-image: url("images/background.jpg");
    background-size: cover;
}

.center {
    text-align: center;
}

th,
td {
    text-align: center;
}

th {
    background-color: #0D7956;
    color: white;
}