{% extends 'base.html' %}{% block pagetitle %}Login{% endblock %}{% block header %}Login{% endblock %}{% block pagecontent %}
<form class="form-horizontal" role="form" method="post">
    <div class="form-group ">
        <label class="control-label col-md-4" for="inputusername">Username</label>
        <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" id="inputemail" type="text" name="username" placeholder="Username">
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-md-4" for="input-password">Password</label>
        <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" id="input-password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4">
            <button class="btn btn-default" type="submit"> Login </button>
        </div>
    </div>
</form>
{% endblock %}