{% extends 'base.html' %}{% block pagetitle %}Shoppinglist items{% endblock %} {% block heading %} {{ shoplist.name }} {% endblock %} {% block pagecontent %} {% if items %}
<table class="table table-bordered table-striped center listtable">
    <thead>
        <tr>
            <th width="5%">id</th>
            <th width="20%">name </th>
            <th width="2%">Edit</th>
            <th width="2%">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.itemid }}</td>
            <td>{{ item.name }}</td>
            <td><a href="#"><span><i class="glyphicon glyphicon-pencil"></i></span></a></td>
            <td><a href="{{ url_for('delete_item', listid= shoplist.listid, itemid= item.itemid)}}"><span><i class="glyphicon glyphicon-trash"></i></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="center" id="addbtn">
    <a href="{{ url_for('update_shoppinglist', listid=shoplist.listid)}}">
        <button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-plus"></i>Add Item</button></a>
</div>

{% endblock %}