{% extends 'base.html' %}{% block header %}Shopping list{% endblock %} {% block pagecontent %}
<div class="add-form">
    <form class="form-inline" method="POST" role="form" action="{{url_for('add_shopping_list') }}">

        <input type="text" class="form-control col-md-offset-4" name="shoplist">

        <button type="submit" class="btn btn-default btn-md "><i class="glyphicon glyphicon-plus"></i>Add Shopping list</button>
    </form>
</div>

<div class="container topcontainer">
    {% if user_lists %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="2%"> </th>
                <th width="25%">Name</th>
                <th width="5%">Edit</th>
                <th width="5%">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for shoppinglist in user_lists %}
            <tr>
                <td>{{ shoppinglist.listid }}</td>
                <td><a href="{{url_for('shopping_list_items', listid=shoppinglist.listid)}}">{{ shoppinglist.name }}</a></td>
                <td>
                    <span><a href="{{url_for('update_shopping_list', listid=shoppinglist.listid) }}" class="btn btn-default edit-btn">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        </span>
                </td>
                <td>
                    <span><a href="{{url_for('delete_shopping_list', listid=shoppinglist.listid) }}" class="btn btn-default delete-btn">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3 class="center">You have not created any lists yet!!</h3>
    {% endif %}
</div>
{% endblock %}